
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

$darkBlue: #00274d;
$blue: #0056b3;
$lightBlue: #87cefa;

$darkGreen: #006400;
$green: #008000;
$lightGreen: #90ee90;

$darkRed: #8b0000;
$red: #ff0000;
$lightRed: #ff7f7f;

$darkYellow: #ffd700;
$yellow: #ffff00;
$lightYellow: #ffffe0;

$darkPurple: #4b0082;
$purple: #800080;
$lightPurple: #dda0dd;

$darkOrange: #ff8c00;
$orange: #ffa500;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
